#dialog-paper {
    max-width: 400px;
}

#edit-note-panel {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

#swipeable-views {
    min-height: inherit;
}

#swipeable-views .react-swipeable-view-container {
    height: 330px;
}

#swipeable-views .ql-container {
    min-height: 120px;
    max-height: 120px;
    overflow: auto;
}

#list-notes-panel {
    margin: 0px;
    height: 100%;
    overflow: hidden;
}