#dialog-paper {
    max-width: 400px;
}

.edit-note-panel {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
}

#swipeable-views {
    min-height: inherit;
}

.react-swipeable-view-container {
    min-height: 330px;
}

.ql-container {
    min-height: 120px;
    max-height: 120px;
    overflow: auto;
}