@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.circular-btn {
  border-radius: 30px;
}

.circular-btn:hover {
  background-color: #2b036a;
}

.card-btn:hover {
  background-color: #2b036a;
}

.hero-btn:hover {
  background-color: #2b036a;
}

.secondary-btn:hover {
  background-color: #2b036a;
}

.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
}

.box-specialties::-webkit-scrollbar {
  height: 4px;
}

.box-specialties::-webkit-scrollbar-thumb {
  background-color: #d8d8d8;
  border-radius: 20px;
}

.video {
  background-color: #1f1d36;
  position: relative;
}

#button-notes {
  position: absolute;
  right: 10px;
  bottom: 35%;
}

.ql-container {
  overflow: auto;
}
